html,body {margin:0;}
h1 {
background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
font-family: Helvetica;
font-weight: bold;
font-size: 70px;
text-align: center;
width: 1500px;
height: 300px;
color: white;
}

div { text-align: center; }
ul { display: inline-block; text-align: left; }

.menu
  {
font-family: Helvetica;
font-size: 18px;
  }
h2 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}
h5 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  width: 1500px;
  height: 25px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  color: white;
}

h6 {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background: dimgray;
}
